body {
	margin: 0;
	font-family: Nunito, sans-serif;
}
#gameboard {
	border: 1px solid black;
	transform-origin: top center;
}
#gameboardContainer {
	text-align: center;
}
#topbar {
	width: 100%;
	background-color: lightgreen;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#topbar > div {
	border: 1px solid black;
	margin: 0 2em;
}