body {
	margin: 0;
	font-family: Nunito, sans-serif;
	user-select: none;
}
body.dark {
	background-color: rgb(12, 3, 4);
}

.hidden {
	display: none !important;
}

#gameboard {
	border: 1px solid black;
	transform-origin: center top;
}
#gameboardContainer {
	text-align: center;
	width: 100%;
}
#topbar {
	width: 100%;
	background-color: #df3c48;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
	#topbar > div {
		margin-right: 1em;
	}
	#topbar > div:first-child {
		margin-left: 1em;
	}

	#scoreContainer {
		min-width: 7ex;
	}

		#scoreContainer.scores1 {
			font-size: 18px;
		}

		#scoreContainer.scores2 {
			font-size: 16px;
		}

		#scoreContainer.scores3 {
			font-size: 12px;
		}

		#scoreContainer div {
			text-align: right;
		}

		#scoreContainer img {
			height: 1em;
			margin-left: 1ex;
		}

		#scoreContainer span {
			min-width: 3.5ex;
			display: inline-block;
		}

#playButton {
	border-radius: 10px;
	padding: 5px 5px 2px;
	line-height: 1em;
}

	#playButton:hover {
		background-color: #dfb5b8;
	}
	#playButton:active {
		color: #df3c48;
	}

.pausemenu {
	background-color: rgba(12, 3, 4, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

	.pausemenu > div {
		width: 80%;
		max-width: 600px;
		margin: 0.5em 0;
	}

	.pausemenu > ul {
		width: 80%;
		max-width: 600px;
		margin: 0.5em 0;
	}

	.pausemenu > h2 {
		width: 80%;
		margin: 0.5em 0;
		text-align: center;
	}

	.pausemenu > .footnote {
		font-size: 10px;
		position: fixed;
		bottom: 0;
		right: 0;
		text-align: right;
		margin-right: 0.5em;
	}

.resumeButton {
	text-align: center;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content !important;
	padding: 5px 5px 5px 15px;
	border-radius: 10px;
}
	.resumeButton:hover {
		background-color: #df3c48;
	}
	.resumeButton:active {
		color: #dfb5b8;
	}

	.resumeButton > span {
		margin-left: 0.5ex;
		padding-right: 0.4ex;
	}